<div class="search-bar">
<!--  <img src="assets/icons/search.svg" alt="search icon">-->
  <input [(ngModel)]="searchText" name="searchText" type="search" placeholder="Search for movies..." aria-label="Search">
</div>
<div class="main-container">
    <div class="movies-list-header">
    <span class="count">
      {{movies.length}} Movies
    </span>
    </div>
    <hr color="#dc4666">
    <div class="movies-list">
      <div *ngFor="let movie of movies | filter: searchText" class="movie">
        <a [routerLink]="['/movies', movie.id]">
          <figure>
            <img src="assets/movies/{{movie.img}}" alt="movie poster">
          </figure>
          <p class="title">{{movie.name}}</p>
          <p class="rate">Rate: {{movie.rate}}</p>
        </a>
      </div>
    </div>
</div>

<!--<h2 xmlns:filter="http://www.w3.org/1999/xhtml">Movies</h2>-->
<!--<link rel="stylesheet" href=-->
<!--  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<!--<div class="search-bar">-->
<!--&lt;!&ndash;  <img src="assets/icons/search.svg" alt="search icon">&ndash;&gt;-->
<!--  <input [(ngModel)]="searchText" name="searchText" type="search" placeholder="Search" aria-label="Search">-->
<!--</div>-->
<!--&lt;!&ndash;<input type="text" [(ngModel)]="searchText" id="search" placeholder="Search to type">&ndash;&gt;-->
<!--&lt;!&ndash;<div *ngFor="let movie of movies">&ndash;&gt;-->
<!--<div class="movies-list">-->
<!--  <div *ngFor="let movie of movies | filter: searchText " class="movie">-->
<!--&lt;!&ndash;    <a [routerLink]="['/movies/' + movie.id + '/' + movie.key]">&ndash;&gt;-->
<!--&lt;!&ndash;      <figure>&ndash;&gt;-->
<!--&lt;!&ndash;        <img src="assets/movies/{{movie.img}}" alt="movie poster">&ndash;&gt;-->
<!--&lt;!&ndash;      </figure>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="title">{{movie.name}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="rate">{{movie.rate}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->
<!--<div *ngFor="let movie of movies | filter: searchText " class="movie">-->

<!--  <h3>-->
<!--    <a [title]="movie.name" [routerLink]="['/movies',movie.id]">-->
<!--      {{movie.name}}-->
<!--    </a>-->
<!--  </h3>-->

<!--&lt;!&ndash;  <p *ngIf="product.rating">&ndash;&gt;-->
<!--&lt;!&ndash;    Rating: <span class="fa fa-star checked"></span> {{product.rating}}&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->

<!--&lt;!&ndash;  <p *ngIf="movie.description">&ndash;&gt;-->
<!--&lt;!&ndash;    Description: {{product.description}}&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->

<!--  <p>-->
<!--    <img *ngIf="movie.image" src="{{movie.image}}" [class.img]="movie">-->
<!--  </p>-->

<!--&lt;!&ndash;  <p *ngIf="product.price">&ndash;&gt;-->
<!--&lt;!&ndash;    Price: ${{product.price}}&ndash;&gt;-->
<!--&lt;!&ndash;  </p>&ndash;&gt;-->

<!--  <div id="outer">-->
<!--    <div class="inner">-->
<!--      <button (click)="share(movie)">-->
<!--        Share <i class="fa fa-share-alt"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="inner">-->
<!--      <app-movie-like>-->
<!--        (click) = "onClick()">-->
<!--      </app-movie-like>-->
<!--    </div>-->
<!--    <div class="inner">-->
<!--&lt;!&ndash;      <app-product-alerts&ndash;&gt;-->
<!--&lt;!&ndash;        [product]="product"&ndash;&gt;-->
<!--&lt;!&ndash;        (notify)="onNotify()">&ndash;&gt;-->
<!--&lt;!&ndash;      </app-product-alerts>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="inner">-->
<!--&lt;!&ndash;      <button (click)="removeUpload(product)" class="inner">&ndash;&gt;-->
<!--&lt;!&ndash;        Delete <i class="fa fa-trash"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
