<!--<h2>Movie Details</h2>-->
<div *ngIf="movie">
    <div class="movie-banner-cover">
      <img src="assets/movies/{{movie.cover}}" alt="movie cover">
    </div>
    <div class="movie-detail-container">
      <div class="movie-cover">
        <img src="assets/movies/{{movie.img}}" alt="movie poster">
      </div>
      <div class="movie-detail">
        <h2>{{movie.name}}</h2>
        <div class="short-info">
          <div class="rate"><span>rate: <strong>{{movie.rate}}</strong></span></div>
          <div class="duration"><span>length: <strong>{{movie.length}}</strong></span></div>
        </div>
        <div class="like"><span>Likes: <strong>{{movie.like}}</strong></span></div>
        <p class="desc">
          {{movie.description}}
        </p>
        <button (click)="goBack()" class="backButton">Go Back</button>
        <p *ngIf= "isLiked === false">
          <button (click)="Onclick(movie)" class="likeButton">like</button>
        </p>
        <p *ngIf= "isLiked === true">
          <button (click)="Onclick(movie)" class="likeButton" >Unlike</button>
        </p>
        <p>
          <button (click)="share(movie)">Share</button>
        </p>
      </div>
  </div>
</div>
<!--  <h4>{{ product.price | currency }}</h4>-->
<!--  <button (click)="addToCart(product)">Buy</button>-->
<!--  <app-movie-item [movie]="movie">-->

<!--  </app-movie-item>-->


