<div class="movie-info-container">
  <div class="movie-banner-cover">
<!--    <img src="assets/movies/{{}}" alt="movie cover">-->
  </div>
  <div class="movie-detail-container">
    <div class="movie-cover">
<!--      <img src="assets/movies/{{}}" alt="movie poster">-->
    </div>
    <div class="movie-detail">
<!--      <h2>{{}}</h2>-->
      <div class="short-info">
<!--        //<div class="rate"><span>rate: <strong>{{}}</strong></span></div>-->
<!--        <div class="duration"><span>length: <strong>{{}}</strong></span></div>-->
        <div class="genres">
          <span>genres:</span>
<!--          <a *ngFor="let genre" [routerLink]="['/movies/']" [queryParams]="{filter:genre}">-->
<!--            {{genre}}-->
<!--          </a>-->
        </div>
      </div>
      <p class="desc">
<!--        {{}}-->
      </p>
    </div>
  </div>
</div>
