<a [routerLink]="['/']">
  <h1>Geek Street</h1>
</a>
<div class = "buttons">
  <button (click)="loginButton()" class = "login-button">
<!--    <img src="assets/icons/profile.png" alt="profile-icon" >-->
    Login
  </button>
  <button (click)="registerButton()" class = "register-button">
    Register
  </button>
</div>
<!--<button (click)="loginButton()" class = "login-button">-->
<!--  <img src="assets/icons/profile.png" alt="profile-icon" >-->
<!--</button>-->
<!--<button (click)="loginButton()" class = "login-button">-->
<!--  Register-->
<!--</button>-->
<!--<a routerLink="/login" class="button fancy-button">-->
<!--  Login-->
<!--</a>-->
